<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Agregar Productos </title>
    <link rel='stylesheet' href='../public/css/bootstrap.min.css'>
</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Space Of Games</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Catálogo Principal<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ranking.html">Ranking</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://goo.gl/maps/3vLx4HmzjkZ1cnAW8">Ubicanos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="alertas.html">Alertas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="ViewCatalogoEstrenos.html">Próximos Estrenos</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Videojuego">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav>
  </header>

<body>
    <div style="padding-right:3%; padding-left:3%; padding-bottom:10px;">
    <h1> Agregar Nuevo Producto </h1>
    <form id="AgregarProductoForm">
        <fieldset>
            <div class="form-group row">
                <label class="col-form-label" for="inputVideoJuego">  Nombre del Video Juego  </label>
                <input type="" class="form-control" placeholder="Nombre del Video Juego" id="inputVideoJuego">
            </div>
            <br>

            <div class="form-group row">
                <label class="col-form-label" for="inpuNumeroStock" step="any">Numero de Stock</label>
                <input type="number" class="form-control" placeholder="1" id="inpuNumeroStock">
            </div>
            <br>

            <div class="form-group row">
                <label class="col-form-label" for="inputPlataforma">  Plataforma </label>
                <select class="form-control" id="inputPlataforma">
				    <option value="Switch">Switch</option>
					<option value="Xbox One">Xbox One</option>
					<option value="Xbox S/X">Xbox S/X</option>
					<option value="PC">PC</option>
					<option value="PS5">PS5</option>
					<option value="PS4">PS4</option>
				</select>
            </div>
            <br>

            <div class="form-group row">
                <label class="col-form-label" for="inputGenero">  Genero del Juego </label>
                <select class="form-control" id="inputGenero">
				    <option value="Acción">Acción</option>
					<option value="Arcade">Arcade</option>
					<option value="Deportivo">Deportivo</option>
					<option value="Estrategia">Estrategia</option>
					<option value="Simulacion">Simulacion</option>
					<option value="Plataformas">Plataformas</option>
				</select>
            </div>
            <br>
            
			<div class="form-group row">
                <label class="col-form-label" for="inputAnyo">  Año de Lanzamiento: </label>
                <input type="text" class="form-control" placeholder="aaaa/mm/dd" id="inputAnyo">
            </div>
            <br>
     

            <div class="form-group row">
                <label class="control-label" for="inputPrecio">Precio</label>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="inputPrecio">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>
                </div>
            </div>
			<br>
			<div class="form-group row">
                <label for="inputDescripcion">Descripcion</label>
                <textarea class="form-control" id="inputDescripcion" rows="5"></textarea>
            </div>
			
            <input type="submit" class="btn btn-success" value="Guardar">
        </fieldset>
    </form>
    </div>
      <script src="../controllers/jsProducto.js"></script>
</body>

</html>