<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion del VideoJuego</title>
    <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Space of Games</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="index.html">Catálogo Principal<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="ranking.html">Ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.google.com/maps/place/Biblioteca/@19.361102,-99.073116,14z/data=!4m5!3m4!1s0x0:0x8d9497cf7578d20d!8m2!3d19.3611015!4d-99.0731163?hl=es-MX&shorturl=1">Ubicanos</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="videojuego">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </nav>
</header>
<body>
  <div class="row" style="justify-content: center;">
    <div class="card mb-3">
    <h3 class="card-header">
      Nier: Automata - Game of the Yorha Edition
    </h3>
    <div class="card-body">
      <h5 class="card-title">PlayStation, Xbox
      </h5>
    </div>
    <center>
      <img src="https://images-na.ssl-images-amazon.com/images/I/51IWXMv0oYL._SX385_.jpg" width="140p" height="190p" alt="Nier">
    </center>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">Costo: $1000</li>
      <li class="list-group-item">Rating: X2</li>
      <li class="list-group-item">Stock: 27</li>
      <li>
        <center>
          <a href="cart.html">
          <button type="button" class="btn btn-primary disabled" id="cart">Agregar al carrito</button>
        </a>
        </center>
      </li>
    </ul>
    </div>
  </div>
</body>
<br>
<br>
<footer>
    <div class="alert alert-dismissible alert-warning">
        
        <center><img src="logo1.png" width="60" height="40" alt="logo1"></center>
        <center>
            <p class="mb-0">Avenida San Rafael Atlixco 186, Colonia Vicentina, 09340 Iztapalapa, CDMX</p>
            <p class="mb-0">UAM Iztapalapa Sitio Oficial, Copyright Derechos Reservados</p>
            <p class="mb-0">Para conocer al equipo de desarrollo, solo tienes que dar clic  <a href="#" class="alert-link">aquí!</a>.</p>
        </center>
      </div>    
  </footer> 
</html>