<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <title>Información Venta</title>

</head>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Space Of Games</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Catálogo Principal<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ranking.html">Ranking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://goo.gl/maps/3vLx4HmzjkZ1cnAW8">Ubicanos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="alertas.html">Alertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="listvideoj.html">Gestion Videojuegos </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="listformularios.html">Historial de Ventas y Apartados</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Videojuego">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>
</header>

<body>
    <center>
        <fieldset>
            <div class="col" style="max-width: 40%;">
                <div class="form-group">
                    <fieldset>
                        <label class="control-label" for="readIdImput">ID Venta:</label>
                        <input class="form-control" id="readIdImput" type="text" placeholder="1" readonly="">
                    </fieldset>
                </div>
            </div>
            <div class="col" style="max-width: 40%;">
                <div class="form-group">
                    <fieldset>
                        <label class="control-label" for="readClienteImput">Cliente:</label>
                        <input class="form-control" id="readClienteImput" type="text" placeholder="Jose Luis Meza" readonly="">
                    </fieldset>
                </div>
            </div>

            <div class="card border-primary mb-3" style="max-width: 30rem;">
                <div class="card-header">Información Venta</div>
                <div class="card-body">
                    <p class="card-text">Id: 10 Cantidad: 1 Nombre: Call of Duty: Modern Warfare $13000</p>
                    <p class="card-text">Id: 2 Cantidad: 1 Nombre: Nier Automata $1000</p>
                    <p class="card-tex1">Id: 005 Cantidad: 1 Nombre: GTA5 $1000</p>
                    <p class="card-tex3">Vendedor: 3</p>
                </div>
            </div>
            <div class="col" style="max-width: 20%;">
                <div class="form-group">
                    <label class="control-label" for="readTotal">TOTAL:</label>
                    <input class="form-control" id="readTotal" type="text" placeholder="$2000" readonly="">
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary" onclick="validarVenta()">Finalizar Venta</button>
            </div>

        </fieldset>
    </center>


</body>

</html>