<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Space of Games</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='../public/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Space Of Games</a>
      </div>
    </nav>
  </header>

  <div style="padding-right:3%; padding-left:3%; padding-bottom:10px;">
    <h1> Agregar Nuevo Producto </h1>

    <form id="productForm">

      <label class="form-label"> Nombre del Video Juego </label>
      <input type="text" class="form-control" placeholder="Nombre del Video Juego" id="Nombre_Video">

      <br>

      <label class="form-label">Numero de Stock</label>
      <input type="number" class="form-control" placeholder="1" id="Stock" min="0">

      <br>

      <label class="form-label"> Plataforma </label>
      <select class="form-control" id="Consola">
        <option value="Switch">Switch</option>
        <option value="Xbox One">Xbox One</option>
        <option value="Xbox S/X">Xbox S/X</option>
        <option value="PC">PC</option>
        <option value="PS5">PS5</option>
        <option value="PS4">PS4</option>
      </select>

      <br>

      <label class="form-label"> Genero del Juego </label>
      <select class="form-control" id="Genero">
        <option value="Acción">Acción</option>
        <option value="Arcade">Arcade</option>
        <option value="Deportivo">Deportivo</option>
        <option value="Estrategia">Estrategia</option>
        <option value="Simulacion">Simulacion</option>
        <option value="Plataformas">Plataformas</option>
      </select>

      <br>

      <label class="form-label"> Año de Lanzamiento: </label>
      <input type="date" class="form-control" id="Anio">

      <br>

      <label class="form-label">Precio</label>
      <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" min="1" id="Costo" step="any">


      <br>

      <label for="inputDescripcion">Descripcion</label>
      <textarea class="form-control" id="Descripcion" rows="5">
          Descripcion del Video Juego
      </textarea>

      <br>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <input type="submit" class="btn btn-success" value="Guardar">
      </div>

      </form>
  </div>

 <div class="Container" style="border-color:black; padding-right:3%; padding-left:3%; margin-top:20px;">
    
	<div class="row"  style="background-color:black;"> 
		<div class="col-sm">
		<h5 style="color:white;"> Nombre de Videojuego </h5>
		</div>
		<div class="col-sm">
		<h5 style="color:white;"> Stock  </h5>
		</div>
		<div class="col-sm">
		<h5 style="color:white;"> Costo</h5>
		</div>
		<div class="col-sm">
		<h5 style="color:white;"> Cantidad Vendida</h5>
		</div>
		<div class="col-sm">
		<h5 style="color:white;"> Borrar o Editar </h5>
		</div>
   </div>
  
    <div class="section" id="ProductosLista">

    </div>

</div>


  <script src="../controllers/ControllerProducto.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>

</body>

</html>