<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <title>Space of Games</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel='stylesheet' href='../public/css/bootstrap.min.css'>
  <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Space Of Games</a>
      </div>
    </nav>
  </header>

        <div class="form-group">
            <h1>Productos Agotados</h1>
            
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre Producto</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Ventas </th>

                        </tr>
                    </thead>
                    <tbody id="TablaCuerpo">
                        
                    </tbody>
                </table>
            <script src="../controllers/ControllerAlertaStocks.js"></script>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

      </body>
      </html>
      