<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Informacion del VideoJuego</title>
      <link rel='stylesheet' href='../public/css/bootstrap.min.css'>
      <link rel="stylesheet" href="../public/css/style.css">
  </head>

  <body>
    <!-- HEADER - MENU PRINCIPAL DE NAVEGACION -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">Space Of Games</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Catálogo Principal<span class="sr-only"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ranking.html">Ranking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://goo.gl/maps/3vLx4HmzjkZ1cnAW8">Ubicanos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="alertas.html">Alertas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="listformularios.html">Historial de Ventas y Apartados</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="ViewCatalogoEstrenos.html">Próximos Estrenos</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Videojuego">
              <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
    </header>

    <!-- SECCION PRINCIPAL -->
    <main class="container">
      <div class="row mt-4" style="justify-content: center;">
        <div class="card mb-3">
          <h3 class="card-header" id="nombreEstreno">
          </h3>
          <div class="card-body">
            <h5 class="card-title" id="consola">
            </h5>
          </div>
          <div class="text-center" id="imagen">
          </div>
      
          <ul class="list-group list-group-flush">
            <li class="list-group-item"></li>
            <li class="list-group-item">Fecha Estreno: <span id="fechaEstreno"></span></li>
            <li class="list-group-item">Descripcion: <span id="descripcion"></span></li>
            <li class="list-group-item">Genero: <span id="genero"></span> </li>
            <li class="list-group-item">Cantidad disponible: <span id="cantidad"></span></li>
            <li class="list-group-item">Costo Reserva: $<span id="costo"></span> MXN</li>
          </ul>
        </div>
      </div>
      <div class="text-center m-4">
        <button type="button" class="btn btn-primary" style="width: 22rem;" id="cart" onclick="reservar()">Reservar</button>
      </div>
      <div class="text-center">
        <a href="ViewCatalogoEstrenos.html" class="btn btn-primary" style="width: 22rem;" >Regresar al Catálogo de Estrenos</a>
      </div>
    </main>

    <!-- FOOTER -->
    <footer class="mt-4">
      <div class="alert alert-dismissible alert-warning text-center">
        <img src="logo1.png" width="60" height="40" alt="logo1">
        <p class="mb-0">Avenida San Rafael Atlixco 186, Colonia Vicentina, 09340 Iztapalapa, CDMX</p>
        <p class="mb-0">UAM Iztapalapa Sitio Oficial, Copyright Derechos Reservados</p>
        <p class="mb-0">Para conocer al equipo de desarrollo, solo tienes que dar clic  <a href="#" class="alert-link">aquí!</a>.</p>
      </div>    
    </footer>

    <!-- ARCHIVOS JAVASCRIPT -->
    <script src="../controllers/ControllerEstreno.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  </body>
</html>