.table thead {
  cursor: pointer;
}
.table thead tr th.headerSortUp,
.table thead tr th.headerSortDown {
  background: rgba(0, 0, 0, .2);
}
.table thead tr th.headerSortUp span {
  background-image: url('http://tablesorter.com/themes/blue/asc.gif');
}
.table thead tr th.headerSortDown span {
background-image: url('http://tablesorter.com/themes/blue/desc.gif');
}

.productos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.producto{
  flex-basis: calc(33.3% - 2rem);
  margin-top: 4rem;
}
.producto img, .image img {
  max-width: 100%;
  margin: auto;
}

.producto button {
  width: 100%;
  margin: auto;
}

.title {
  text-align: center;
  margin: 2rem 0;
}

.left {
  flex-basis: calc(50% - 1rem);
}
.right {
  flex-basis: calc(50% - 1rem);
}